/FindThePalindrome/nbproject/private/
/FindThePalindrome/build/
/QueueOfTheRamadanPita/nbproject/private/
/QueueOfTheRamadanPita/build/
/EmergencyWithPriorityQueueAndComparableInterface/nbproject/private/
/EmergencyWithPriorityQueueAndComparableInterface/build/
/RemoteControlWithIterable/nbproject/private/
/RemoteControlWithIterable/build/